span:hover{
    color: #fd6c00;
}
td:hover{
    color: #fd6c00;
}
.tail_center td:hover{
    color: #fd6c00;
    }
.total{
    width: auto;
}
#total_1{
    z-index:999;
    width: auto;
    height: 128px;
    border: 1px solid white;
    background-color: white;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: 0 auto;

}
.head{
    width: 1180px;
    height: 130px;
    margin: 0 auto;
    border: 1px solid white;
}
.head_first{
    height: 35px;
}
.head_first_1{
    font-size: 13px;
    text-align: center;
    color: dimgray;
    float: left;
}
.head_first_2{
    float: left;
    margin-left:300px;
}
.head_first_2_1{
    width: 19px;
    height: 19px;
    float: left;
    margin-right: 20px;
    background:url("../img/common_min.png") no-repeat 0px -31px;
}
.head_first_2_2{
    width: 19px;
    height: 19px;
    float: left;
    margin-right: 20px;
    background:url("../img/common_min.png") no-repeat 0px -53px;
}
.head_first_2_3{
    width: 19px;
    height: 19px;
    float: left;
    margin-right: 20px;
    background:url("../img/common_min.png") no-repeat 0px -75px;
}
.head_first_3{
    float: right;
}
.head_first_3_1{
    padding-right: 15px;
    font-size: 13px;
    text-align: center;
    color: dimgray;
}
#first_3_1{
    color: #fd6c00;
}
.head_second{
    height: 62px;
}
.head_second_1{
    float: left;
}
.head_second_2{
    float: left;
    padding-left: 100px;
}
.head_second_2_1{
    padding-top: 15px;
}
.head_second_2_1_1{
    width: 500px;
    height: 35px;
    border-color: rgb(253, 108, 0);
    border-style: solid;
}
.head_second_2_1_2{
    width: 80px;
    height: 40px;
    border: none;
    background-color: rgb(253, 108, 0);
    color: #ffffff;
}
.head_second_2_2{
    margin-top: 10px;
    font-size: 12px;
}
.head_second_2_2_red{
    float: left;
    color:red;
}
.head_second_2_2_black{
    float: left;
    color:black;
}
.head_second_2_2_gray{
    float: left;
    color:gray;
}
.head_second_3{
    margin-top: 10px;
    float: right;
}

.subheading{
    margin: 0 auto;
    height: 40px;
    padding-top: 10px;
    border-bottom:2px orangered solid;
}
.subheading_1{
    width: 1180px;
    margin: 0 auto;
}
.subheading_1_1{
    height: 40px;
    width: 170px;
    background-color: orangered;
    color: white;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    float: left;
    margin-right: 20px;
}
.subheading_1_2 {
    margin: 0px 25px 0px 25px;
    line-height: 40px;
    text-align: center;
    float: left;
}
.body{
    width: 1180px;
    margin: 0 auto;
    height: 560px;
}
.body_left{
    float: left;
    width: 170px;
}
.body_left_1{
    background-color: rgb(76,76,74);
    width: 25px;
    height: 420px;
    padding-top: 20px;
    color: rgb(255,77,75);
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    float: left;
    border-bottom:2px orangered solid;
}
.body_left_2{
    height: 440px;
    border-bottom:2px orangered solid;
}
.body_left_2 tr{
    line-height: 32px;
}
.body_left_2 td{
    float: left;
    display: block;
    font-size: 14px;
    margin-left: 6px;
}
.body_left_3{
    color: rgb(133,93,56);
}
.body_center{
    width: 809px;
    float: left;
}
.body_center_1{
    height: 361px;
    background: url("../img/bann1.jpeg");
}
.body_center_2{
    border-top:2px orangered solid;
}
.body_right{
    float: right;
    width: 201px;
    color: orangered;
}
.body_right_1{
    padding:10px 0px 10px 10px;
    border-bottom:1px gray solid;
}

.body_right_2{
    font-size: 13px;
    overflow: hidden;
    padding:10px 0px 10px 10px;
    height: 300px;
    border-bottom:1px gray solid;
}
.body_right_2 ul li {
    list-style: none;
    line-height: 30px;
    /*以下为了单行显示，超出隐藏*/
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.body_right_3{
    padding: 10px 0px 10px 10px;
    font-size: 12px;
}
.body_right_3_1{
    height: 30px;
}
.body_right_3_1_1{
    height: 25px;
    width: 125px;
    margin-top: 10px;
    border: 1px solid gray;
}
.body_right_3_1_2{
    margin-top: 10px;
    height: 20px;
    width: 60px;
}
.body_right_3_1_3{
    color: #fd6c00;
    margin-left: 5px;
}

.body_right_3_1_4{
    height: 25px;
    width: 175px;
    margin-top: 10px;
    background-color: #fd6c00;
    border:0px;
}
.tail{
    width: 1180px;
    margin-right: auto;
    margin-left: auto;
    height: 180px;
    border-bottom:1px gray solid;
}
.tail_font{
    font-size: 14px;
    color: black;
}
.tail td{
    display: block;
    float: left;
    margin: 10px 20px 0px 20px;
    width: 100px;
    font-size: 12px;
    color: gray;
}
.tail_left{
    float: left;
    margin-right: 20px;
}
.tail_center{
    float: left;
}
.tail_right{
    float: right;
}

.bottom{
    width: 1180px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.bottom_1{
    margin: 0 auto;
    color: gray;
    width: 800px;
}
.bottom_1_1{
    font-size: 12px;
}
.bottom_1_2{
    color:gray;
}
.bottom_2{
    margin: 0 auto;
    color: gray;
    width: 500px;
    font-size: 12px;
}
.bottom_3{
    margin: 0 auto;
    color: gray;
    width: 1100px;
    font-size: 12px;
}
.bottom_4{
    margin: 0 auto;
    color: gray;
    width: 130px;
    font-size: 12px;
}

.bottom_5{
    margin: 0 auto;
    color: gray;
    width: 800px;
    font-size: 12px;
}
*{
    padding:0;
    margin:0;
    border:none;
}
#myNews{
    padding:0;
    margin:0;
    border:none;
    width:200px;
    height:300px;
    background-color:#CCC;
    overflow:hidden;
}
*{
    padding:0;
    margin:0;
    border:none;
}
#news{
    width:200px;
    height:300px;
    overflow:hidden;
}
#news li{
    line-height:30px;
}

#fudong1{
    position: fixed;
    width: 123px;
    height: 105px;
    top: 88px;
    right: -80px;
    background-color: #DCFCE9;
    text-align: center;
    display: block;
    background: url(../img/xiaobang.png) no-repeat 1px 60px;
}

#fudong2{
    position: fixed;
    width: 123px;
    height: 140px;
    top: 200px;
    right: -80px;
    background-color: rgb(253,154,110);
    text-align: center;
    display: block;
}

#fudong3{
    position: fixed;
    width: 123px;
    height: 150px;
    top: 347px;
    right: -80px;
    background-color: rgb(253,154,110);
    text-align: center;
    display: block;
}

#fudong4{
    position: fixed;
    width: 123px;
    height: 105px;
    top: 505px;
    right: -80px;
    background-color: rgb(253,154,110);
    text-align: center;
    display: block;
}